<h1 class="text-center whbgtxt">DavaiBuy</h1>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin margintop"}) do |f| %>

    <h2 class="text-center whtxt">Регистрация</h2>
    <%= f.error_notification %>

    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} символов минимум" if @minimum_password_length), label: false, placeholder: "Пароль", input_html: {class: "form-control"} %>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: "Подтверждение пароля", input_html: {class: "form-control"} %>

    <%= f.button :submit, "Зарегистрироваться", class: "btn btn-info btn-block" %>
    <%= render "devise/shared/links" %>
<% end %>


