<div class="container">
  <h1><%= @conversation.subject %></h1>

  <% @conversation.receipts_for(current_user).each do |receipt| %>
    <div>
      <div><%= receipt.message.sender.email %></div>
      <p><%= receipt.message.body %></p>
    </div>
  <% end %>

  <%= form_tag conversation_messages_path(@conversation), method: :post do %>
    <div>
      <%= text_area_tag :body %>
    </div>

      <%= submit_tag 'Отправить сообщение' %>
  <% end %>

  <%= link_to 'Новая беседа', new_conversation_path %>
</div>

