<p id="notice"><%= notice %></p>

<h1 class="whtxt">Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td class="whtxt"><%= request.content %></td>
        <td><%= link_to 'Show', request, class: "btn btn-info btn-block" %></td>
        <td><%= link_to 'Edit', edit_request_path(request), class: "btn btn-info btn-block" %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path, class: "btn btn-info" %>
