  <div class="row">
    <h1 class="whbgtxt">Наши Партнёры</h1>
    <div class="servicesHolder margintop">
      <div class="row">
        <hr class="full">
        <div class="container mvngsmi">
          <div class="box4">
            <div class="box2">
              <a href="">
                <div class="drctsmi drctdown">
                  <%= image_tag "partners/nike_PNG18.png", :style => "height: 15vh"  %>
                </div>
              </a>
              <a href="">
                <div class="drctsmi drctdown">
                  <%= image_tag "partners/nike_PNG18.png", :style => "height: 15vh"  %>
                </div>
              </a>
              <a href="">
                <div class="drctsmi drctdown">
                  <%= image_tag "partners/nike_PNG18.png", :style => "height: 15vh"  %>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="servicesHolder margintop">
      <div class="row">
        <hr class="full">
        <div class="container mvngsmi">
          <div class="box4">
            <div class="box2">
              <a href="">
                <div class="drctsmi drctdown">
                  <%= image_tag "partners/nike_PNG18.png", :style => "height: 15vh"  %>
                </div>
              </a>
              <a href="">
                <div class="drctsmi drctdown">
                  <%= image_tag "partners/nike_PNG18.png", :style => "height: 15vh"  %>
                </div>
              </a>
              <a href="">
                <div class="drctsmi drctdown">
                  <%= image_tag "partners/nike_PNG18.png", :style => "height: 15vh"  %>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>