<nav class="navbar navbar-default navbar-light bg-light">

  <%= link_to "DavaiBuy", root_path, class:"navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
          <li><%= link_to "Настройки профиля", edit_user_registration_path %></li>
          <li><%= link_to "Заявки", requests_path %></li>
          <li><%= link_to "Выход", destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to "Регистрация", new_user_registration_path %></li>
          <li><%= link_to "Вход", new_user_session_path %></li>
          <li><%= link_to "О нас", about_path %></li>
          <li><%= link_to "Наши партнёры", partners_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
