<nav class="navbar navbar-default navbar-light bg-light">

  <%= link_to "DavaiBuy", root_path, class:"navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Requests", requests_path %></li>
      <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "About", about_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
